{% load custom_tags %}
{% load widget_tweaks %}

 <div class="modal-content" id="crud-expense">
    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="window.location.reload()"></button>
    </div>
    <form method="post" {% if pk %} action="{% url 'financialapp:expense_edit' pk %}"  {% else %} action="{% url 'financialapp:expense_create' %}" {% endif %}>
        {% csrf_token %}
        <div class="modal-body">
            {% for field in form %}
                {% if field|is_checkbox %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field|add_class:"form-check-input" }}
                    </div>
                {% else %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.reload()">Cancel</button>
            <button type="submit" class="btn btn-primary">{{ title }}</button>
        </div>
    </form>
</div>